#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Ari Project"
            VALUE "FileDescription", "Low-Level Battery Info"
            VALUE "FileVersion", "1.1"
            VALUE "InternalName", "llb"
            VALUE "LegalCopyright", "Copyright (C) Ari Sohandri Putra"
            VALUE "OriginalFilename", "llb.exe"
            VALUE "ProductName", "Low-Level Battery Info"
            VALUE "ProductVersion", "1.1"
            VALUE "Comments", "A native C tool for inspecting Windows battery information without WMI."
            VALUE "Author", "Ari Sohandri Putra"
            VALUE "URL", "https://github.com/arisohandriputra"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
